services:
  - type: web
    name: schedulesync
    runtime: node
    buildCommand: npm ci && npm run build && npm prune --production
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 5000
    healthCheckPath: /health
